name: build-and-release

on:
  workflow_dispatch:

permissions: write-all

jobs:
  core:
    name: build-and-release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Projects
        uses: actions/checkout@main

      - name: Initialization Environment
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          sudo apt update
          sudo apt install -y build-essential device-tree-compiler python3
          sudo -E systemctl daemon-reload
          sudo -E timedatectl set-timezone "Asia/Shanghai"

      - name: Initialization Values
        run: |
          echo "COMPILE_DATE=$(TZ=UTC-8 date +"%y.%m.%d-%H.%M.%S")" >> $GITHUB_ENV
          echo "UBOOT_VERSION=$(TZ=UTC-8 date +"%y%m%d.%H%M%S")" >> $GITHUB_ENV

      - name: Compile U-Boot
        run: |
          ./build.sh

          mv uboot-ipq60xx-emmc.bin uboot-ipq60xx-emmc-"$UBOOT_VERSION".bin

      - name: Pad U-Boot
        run: |
          FILE=uboot-ipq60xx-emmc-"$UBOOT_VERSION".bin
          CURRENT_SIZE_IN_BYTES=$(stat -c%s "$FILE")
          TARGET_SIZE_IN_BYTES=1048576

          echo "文   件：$FILE"
          echo "当前大小：$CURRENT_SIZE_IN_BYTES Bytes"
          echo "目标大小：$TARGET_SIZE_IN_BYTES Bytes"

          if [ $CURRENT_SIZE_IN_BYTES -lt $TARGET_SIZE_IN_BYTES ]; then
              echo "文件当前大小小于目标大小，正在填充..."
              truncate -s $TARGET_SIZE_IN_BYTES "$FILE"
              echo "填充完成！"
          elif [ $CURRENT_SIZE_IN_BYTES -eq $TARGET_SIZE_IN_BYTES ]; then
              echo "文件已经是目标大小！"
          else
              echo "WARNING！文件当前大小大于目标大小！"
          fi

      - name: Release U-Boot
        uses: softprops/action-gh-release@master
        with:
          tag_name: ${{env.COMPILE_DATE}}
          files: ./uboot-ipq60xx-emmc-*.bin
          body_path: ./releasenotes.md
