name: build-and-release

on:
  workflow_dispatch:
    inputs:
      DEVICE_MODEL:
        description: '设备选择'
        required: true
        type: choice
        options:
          - 所有设备
          - 京东云太乙
          - 京东云亚瑟
          - 京东云雅典娜
          - 连我 NN6000 (V1 & V2)
          - 红米 AX5 JDCloud
        default: '所有设备'

env:
  DEVICE_MODEL: ${{ inputs.DEVICE_MODEL == '所有设备' && 'build_all' || inputs.DEVICE_MODEL == '京东云太乙' && 'build_re-cs-07' || inputs.DEVICE_MODEL == '京东云亚瑟' && 'build_re-ss-01' || inputs.DEVICE_MODEL == '京东云雅典娜' && 'build_re-cs-02' || inputs.DEVICE_MODEL == '连我 NN6000 (V1 & V2)' && 'build_nn6000' || inputs.DEVICE_MODEL == '红米 AX5 JDCloud' && 'build_ax5-jdcloud' }}

permissions: write-all

jobs:
  core:
    name: build-and-release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Projects
        uses: actions/checkout@main

      - name: Initialization Environment
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          sudo apt update
          sudo apt install -y build-essential device-tree-compiler python3
          sudo -E systemctl daemon-reload
          sudo -E timedatectl set-timezone "Asia/Shanghai"

      - name: Compile U-Boot
        run: |
          . ./build.sh $DEVICE_MODEL

          echo "COMPILE_DATE=$COMPILE_DATE" >> $GITHUB_ENV

      - name: Release U-Boot
        uses: softprops/action-gh-release@master
        with:
          tag_name: ${{env.COMPILE_DATE}}
          files: ./bin/${{env.COMPILE_DATE}}/*
          body_path: ./releasenotes.md
